html * {
  box-sizing: border-box;
}

body {
  font-family: 'Alegreya', sans-serif;
  margin-bottom: 0px;
  max-width: 2500px;
  margin: auto;
  margin-bottom: 0px;
}

img {
  max-width: 100%;
  max-height: auto;
}

/* Entête début */

a {
  cursor: url(Visuels/curseur.png), auto;
  color: #ed464d;
}

article {
  bottom: 0px;
}

.dh {
  display: none;
}

.Bandeau_onglet_gauche {
  max-height: 500px;
  top: 300px;
  position: fixed;
  left: 5%;
}

.Logo {
  position: fixed;
  width: 150px;
  top: 80px;
  left: 5%;
  z-index: 1;
}

.Onglet {
  max-width: 125px;
  max-height: 40px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.mentionslegales {
  font-size: 8px;
  color: #ed464d;
  display: flex;
  align-items: flex-end;
  order: -1;
  margin-left: 0px;
  margin-right: 140px;
}

.slideshow {
  margin-top: 80px;
  position: relative;
  z-index: -1;
}

.slideshowwrap {
  width: 100%;
  margin: auto;
  max-width: 700px;
}

.slideshow>div {
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.slideshow>div {
  position: absolute;
  top: 0px;
  height: 100%;
}

/* Fin entête */

/* Mise en page colonnes de photo page index*/

.Projets_groupe {
  max-height: auto;
  margin: auto;
  margin-left: 300px;
  margin-right: 100px;
  display: flex;
  margin-bottom: 0px;
  margin-top: 5px;
}

.clique {
  max-width: 120px;
  margin-left: 72%;
  position: fixed;
  margin-top: -45px;
}

.image_prez {
  margin-bottom: 30px;
  max-height: 550px;
  position: center;
}

.col {
  width: 33%;
  margin: 0 8px;
}

.Projet {
  margin-bottom: 16px;
  position: relative;
  font-size: 0;
}

.Projet h2 {
  color: white;
  position: absolute;
  top: 50%;
  padding: 8px 8px;
  left: 50%;
  width: 100%;
  text-align: center;
  margin: 0;
  font-size: 18px;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-weight: 400;
}

.Projet .bloc_titre {
  opacity: 0;
  transition: opacity .5s;
  /*background: rgba(0,0,0,0.3);*/
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  bottom: 0;
  right: 0;
}

.Projet:hover .bloc_titre {
  opacity: 1;
}

.cadre {
  position: relative;
  max-width: 400px;
  max-height: auto;
  opacity: 20%;
  margin-top: 2px;
}

/*.cadremou {
  width: 100%;
z-index: -1;
position: absolute;
top: 0;
left: 0;
height: 100%;
}*/

.cadre p {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  position: absolute;
  top: 50%;
  padding: 8px 32px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: #ed464d;
  margin: 0;
}

/* Fin des commandes pour la page index*/

/*Mise en page pour les pages projets */

.Projets_photos_groupe {
  max-width: 400px;
  max-height: auto;
  margin: auto;
  margin-right: 200px;
  flex-direction: column;
}

.Projet_photos {
  box-sizing: 30%;
  left: 50px;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 0px;
  position: relative;
}

.Projet_photos h2 {
  color: white;
  position: absolute;
  top: 50%;
  padding: 8px 8px;
  left: 50%;
  width: 100%;
  text-align: center;
  margin: 0;
  font-size: 18px;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-weight: 400;
}

.Projet_photos .bloc_titre {
  opacity: 0;
  transition: opacity .5s;
  /*background: rgba(0,0,0,0.3);*/
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  bottom: 0;
  right: 0;
}

.Projet_photos:hover .bloc_titre {
  opacity: 1;
}

.Bloc_image_projet {
  width: 25%;
  margin: 0 8px;
  box-sizing: 30%;
  left: 50px;
  display: flex;
  flex-direction: column;
}

.grille {
  width: 100%;
  max-width: 960px;
  margin: auto;
}

.col2, .col4 {
  margin-left: 8px;
  margin-right: 8px;
}

.col2 {
  flex-basis: calc(72% - 16px);
  font-size: 11px;
}

.boite {
  display: flex;
}

.boite img {}

.projet {
  box-sizing: border-box;
  position: relative;
  width: 500px;
}

.col4 {
  font-family: 'Open Sans', sans-serif;
  margin: 0 60px;
  display: flex;
  flex-direction: column;
  position: fixed;
  margin-left: 52%;
  margin-right: 60px;
  height: 100%;
  flex-basis: calc(20%-16px);
}

.livre_infos {
  width: 120px;
  z-index: -1;
  margin-bottom: 8px;
  margin-left: 20px;
  margin-top: 80px;
}

.box_infos {
  border: 6px double #ed464d;
  background: white;
  padding: 8px 32px;
  opacity: 0;
}

.box_infos:hover {
  opacity: 1;
  transition: opacity .5s;
}

.Projet_titre {
  font-size: 14px;
  font-family: 'Open-Sans', sans-serif;
  font-weight: 700;
  color: #ed464d;
  margin-bottom: 10px;
}

.Projet_description {
  font-size: 11px;
  font-family: 'Open-Sans', sans-serif;
  font-style: normal;
  margin-bottom: 10px;
  color: black;
}

.Projet_infos {
  position: static;
  transform: none;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 11px;
  font-weight: 700;
  text-transform: none;
  text-align: left;
  font-family: 'Open-Sans', sans-serif;
  color: black;
}

/*.boite_infos {
  width: fit-content;
  border: 6px double black;
  font-weight: 500;
  font-size: 11px;
  padding: 8px 32px;
  text-transform: none;
  text-align: left;
  font-family: 'Open-Sans', sans-serif;
  color: black;
  opacity: 0;
} */

.boutonhasard {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: url(Visuels/curseur.png), auto;
  max-width: 170px;
}

.colphoto {
  flex-basis: (20% - 16px);
  width: 40%;
  margin: 0 8px;
}

.bouton {
  font-size: 14px;
  text-decoration: underline;
  color: #ed464d;
  font-weight: 700;
}

.iseeyou {
  height: 100px;
  width: auto;
  display: flex;
}

/*.instagram{
  margin-top: 30px;
  margin-left: 8px;
  height:30px;
}*/

footer {
  bottom: 0;
  left: 0;
  height: 100px;
  margin-left: 60px;
}

@media screen and (max-width:1100px) {
  .cadre p {
    font-size: 16px;
  }
  .Projets_groupe {
    margin-right: 80px;
    margin-left: 250px;
  }
}

@media screen and (max-width:970px) {
  .cadre p {
    font-size: 11px;
  }
  .col {
    width: 50%;
  }
  .Projets_groupe {
    margin-right: 30px;
    margin-left: 240px;
  }
  .iseeyou {
    height: 80px;
  }
}

@media screen and (max-width:800px) {
  /*environ trablette*/
  .cadre p {
    font-size: 16px;
  }
  .col {
    width: 50%;
  }
  .Projets_groupe {
    margin: 0px;
    margin-top: 60px;
    margin-bottom: 16px;
  }
  .Bandeau_onglet_gauche {
    margin-left: 465px;
    top: 16px;
    position: fixed;
  }
  .Onglet {
    flex-direction: row;
  }
  .Logo {
    position: static;
    display: initial;
    margin-left: 8px;
    margin-top: 16px;
    margin-left: 270px;
  }
  .iseeyou_bloc {
    position: static;
    bottom: 8px;
  }
}

@media screen and (max-width:450px) {
  /*environ mobiles*/
  body {
    max-width: 95%;
  }
  .mh {
    display: none;
  }
  .col {
    width: 100%;
  }
  .LienAccueil {
    display: block;
    text-align: center;
  }
  .Bandeau_onglet_gauche {
    width: 100%;
    position: static;
    margin: 0;
    margin-top: 16px;
    display: flex;
    justify-content: center;
  }
  .Onglet {
    margin: 0 16px;
    margin-bottom: 16px;
  }
  .boutonhasard {
    position: static;
    margin: 0;
    margin-top: 16px;
  }
  .Logo {
    margin: auto;
  }
  .Projet h2 {
    color: #ed464d;
    width: 100%;
    top: 100%;
    transform: none;
    left: 0;
    font-size: 14px;
    font-weight: 600;
  }
  .iseeyou {
    height: auto;
    position: center;
  }
  .dh {
    display: initial;
    color: #ed464d;
  }
  .Projets_groupe {
    margin: 0;
    flex-wrap: wrap;
  }
  .col2, .col4 {
    width: 100%;
    position: static;
    flex-basis: 100%;
  }
  .col4 {
    margin: 0 0 0 0;
  }
  .livre_infos {
    margin-top: 16px;
  }
  .Projet .bloc_titre {
    opacity: 1;
  }
  .fond {
    display: none;
  }
  .Projet {
    margin-bottom: 64px;
  }
  .cadre p {
    font-size: 14px;
  }
  .mentionslegales {
    position: relative;
    bottom: 8px;
    justify-content: flex-end;
  }
  .box_infos {
    opacity: 1;
  }
}



@media screen and (min-width:1550px) {
  .col4 {
    margin-left: 48%;
    max-width: 300px;
  }
  .slideshowwrap {
    max-width: 900px;
  }
  .Projet_titre {
    font-size: 18px;
  }
  .Projet_description {
    font-size: 16px;
  }
  .iseeyou {
    height: 120px;
  }
}

@media screen and (min-width:2000px) {
  .col4 {
    margin-left: 50%;
    max-width: 400px;
  }
  .slideshowwrap {
    max-width: 1200px;
  }
  .Projet_titre {
    font-size: 20px;
  }
  .Projet_description {
    font-size: 18px;
  }
  .iseeyou {
    height: 140px;
  }
}

@media screen and (min-width:2500px) {
  .col2 {
    flex-basis: calc(60% - 25px);
    max-width: 1000px;
    margin-left: 200px;
  }
  .col4 {
    max-width: 460px;
    flex-basis: calc(30% - 16px);
  }
  .slideshowwrap {
    max-width: 1400px;
  }
  .Projet_titre {
    font-size: 25px;
  }
  .Projet_description {
    font-size: 20px;
  }
  .iseeyou {
    height: 160px;
  }
}
