body{
  font-family: 'Alegreya Sans', sans-serif;
}

img {
  max-width: 100%;
  max-height: auto;
}
/* Entête début */

.Entete {
    background :light grey;

}

.Bandeau_onglet_gauche {
    max-height: 500px;
    top: 300px;
    position: fixed;
    left: 50px;



}

.Logo {
  position: fixed;

  width: 150px;
  top: 60px;
  left: 50px;

  z-index: 1;

}

.Onglet {

max-width: 150px;
max-height: 50px;

display: flex;
flex-direction: column;
flex-wrap: wrap;

margin-bottom: 10px;


  }

.Titre_site {

  }


.Soustitre_site {

}

/* Fin entête */

.Projets_groupe{
max-width: 300px;
max-height: auto;

margin: auto;
margin-right: 200px;

flex-direction: column;


}


.Projet{
box-sizing: 30%;
left: 50px;

margin: auto;


}

.Projets_photos_groupe{
  max-width: 400px;
  max-height: auto;

  margin: auto;
  margin-right: 200px;

  flex-direction: column;

}

.Projet_photos{
box-sizing: 30%;
left: 50px;

margin: auto;
}

.Projet_titre{

}

.Projet_image{

}
